.modal__group{
  margin: 0 auto 2rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.modal__group:nth-child(6) .modal__input{
  min-height: 10rem;
  margin-bottom: 3rem;
}

